<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 

    <script src="jquery/dist/jquery.slim.min.js"></script>    
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>    
    <script src="javascripts/app.js"></script>

    <footer class="text-center fixed-bottom text-white" style="background-color: #cac9c9;">
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="fw-bold">Apoorva | 2022</p>
        </div>
    </footer>
</body>
</html>
