<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
<% include partials/header.ejs %>

<main class="container">
    <div class="card">
        <div class="card-header">
          Library Management System
        </div>
        <div class="card-body">
            <img src="images/project1.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header">
          Project Name
        </div>
        <div class="card-body">
            <img src="images/logo.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <br><br>
      <div class="card" style="margin-bottom: 30px;">
        <div class="card-header">
          Project Name
        </div>
        <div class="card-body">
            <img src="images/logo.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    
</main>


<% include partials/footer.ejs %>    